################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HQQWebhook/bin/Debug/netcoreapp2.2
